YOU ARE IN Teacher COHORTS INDEX

<h1>Welcome, <%= @teacher.fullname %></h1>

<% if @teacher.cohorts.any? %>
  <h4>Your Classes:</h4>
  <% @cohorts.each do |cohort| %>

    <p>
      <%= link_to(cohort.fullname, dashboard_cohort_path(cohort) )  %> 
      <%= cohort.startdate.strftime("%B %d, %Y") %> - <%= cohort.enddate.strftime("%B %d, %Y") %>  
    </p>
    <ul>
      <%= link_to("Students", dashboard_students_path )  %>
      <%= link_to("Assignments", dashboard_cohort_assignments_path(cohort) )  %>
      <%= link_to("Announcements", dashboard_cohort_announcements_path(cohort) )  %>      
    </ul>
  <% end %>
<% else %>
  <h4>Nothing right now! </h4>
<% end %>