<div class="container row" id="admin-<%= @course.id %>-course-show">
  <div class="col-sm">
    <% if @course.cohorts.any? %>
      <h4>Cohorts</h4>
      <% @course.cohorts.each do |cohort| %>

        <p>
          <%= link_to(cohort.fullname, dashboard_course_cohort_path(@course, cohort) )  %> 
          <%= cohort.startdate.strftime("%B %d, %Y") %> - <%= cohort.enddate.strftime("%B %d, %Y") %>  
          <%= link_to(cohort.teacher.fullname, dashboard_teacher_path(cohort.teacher) )  %>    
        </p>
        <% if cohort.announcements.any? %>
          <ul>
            <h4>Announcements</h4>
            <% cohort.announcements.each do |announcement| %>
              <li><%= link_to(announcement.title, dashboard_course_cohort_announcement_path(@course, cohort.id)) %></li>
            <% end %>
          </ul> 
        <% end %>
      <% end %>
    <% else %>
      <h4>Nothing right now! </h4>
    <% end %>
  <%= link_to("Edit this Course", edit_dashboard_course_path(@course) )  %>
  <%= link_to "Delete this course", dashboard_course_path(@course.id), data: { confirm: "Are you sure? This will erase the course and all corresponding cohorts!" }, method: :delete %>
  <%= link_to("Add New Cohort", new_dashboard_course_cohort_path(@course) )  %>
  </div>
</div>