<h2>Make Announcement</h2>

<% if @announcement.errors.any? %>
  <ul>
    <% @announcement.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<%= form_for(:announcement, url: dashboard_course_cohort_announcements_path) do |f| %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :body %> <br>
    <%= f.text_area(:body, size: '50x10') %>
  </div>

  <div class="field">
    <%= f.label :startdate, 'Starts ' %><br>
    <%= f.datetime_select :startdate %>
  </div>

  <div class="field">
    <%= f.label :enddate, 'Ends ' %><br>
    <%= f.datetime_select :enddate %>
  </div>

  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>
