<h2>Edit <%= @assignment.title  %></h2>

<%= form_for(@assignment, url: dashboard_cohort_assignment_path(@assignment), html: { method: :put }) do |f| %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :instructions %> 
    <%= f.text_field :instructions %>
  </div>

  <div class="field">
    <%= f.label :startdate, 'Starts ' %><br />
    <%= f.datetime_select :startdate %>
  </div>

  <div class="field">
    <%= f.label :enddate, 'Due ' %><br />
    <%= f.datetime_select :enddate %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Erase this Assignment</h3>

<p><%= button_to "Delete", dashboard_cohort_assignment_path(@assignment.cohort_id, @assignment.id), data: { confirm: "Are you sure?" }, method: :delete %></p>

<p><%= link_to("Back to Assignments", dashboard_cohort_assignments_path ) %></p>
 