THIS SHOWS ALL THE TEACHERS COHORT-SPECIFIC ASSIGNMENTS


<h1>Welcome, <%= current_user.fullname %></h1>

<h3><%= @cohort.fullname %></h3>

<h5><%= @assignment.title %></h5>

<p>
  <%= @assignment.instructions %>
  <br><br>
  Due: <%= @assignment.enddate.strftime("%B %d, %Y")  %>
</p>
<%= link_to("Edit", edit_dashboard_cohort_assignment_path(@assignment) )  %>
<%= link_to "Delete", dashboard_cohort_assignment_path(@cohort.id, @assignment.id), data: { confirm: "Are you sure?" }, method: :delete %>

