THIS IS THE SHOW PAGE FOR COHORT GRADES

<h1>Welcome, <%= current_user.fullname %></h1>

<h3><%= @grade.cohort.fullname %></h3>

<h5><%= @grade.student.fullname %></h5>

<p>
  <% if @grade.grade %>
    <%= @grade.grade %>
    <%= link_to("Edit", edit_dashboard_cohort_grade_path(@grade.cohort_id, @grade) )  %>
  <% else %>
    <%= link_to("Add Grade", edit_dashboard_cohort_grade_path(@grade.cohort_id, @grade) )  %>
  <% end %>
</p>
<p>
  <%= link_to "Fail Student", dashboard_cohort_grade_path(@grade.cohort_id, @grade.id), data: { confirm: "Are you sure? This will kick a student out of your cohort" }, method: :delete %>
</p>
<p><%= link_to("Back to Grades", dashboard_cohort_grades_path ) %></p>
 
<div>
  <%= link_to("Cohort Dashboard", dashboard_cohort_path(@grade.cohort_id) )  %>
</div>